[user]
	name = silkm
	email = michael.silk@populationgenomics.org.au
[http]
	postBuffer = 157286400
[core]
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
[init]
	defaultBranch = main
[github]
	user = silkm
